/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

input, button , select, textarea
{
    max-width : 20em;
}
button{
    cursor:pointer;
}

.backgroundPicture {
    background: url('../resim/utaemtoplantı.png') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h3 {
    color: #1b6ec2;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 11px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    
}

body {
}

.slowly{
    transition:.5s;
}

.modal {
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.pageButton {
    color: #1b6ec2;
    background-color: aliceblue;
    border: solid 1px white;
    border-radius: 6px;
    padding-left: .8em;
    padding-right: .8em;
}
    .pageButton:disabled {
        color: white;
        background-color: #1b6ec2;
        cursor: context-menu;
    }

.pageButtonOnceki {
    color: #1b6ec2;
    background-color: aliceblue;
    border: solid 1px white;
    border-radius: 6px;
    padding-left: .8em;
    padding-right: .8em;
}
    .pageButtonOnceki:disabled {
        color: lightgray;
        cursor: context-menu;
    }

.pageButtonSonraki {
    color: #1b6ec2;
    background-color: aliceblue;
    border: solid 1px white;
    border-radius: 6px;
    padding-left: .8em;
    padding-right: .8em;
}
    .pageButtonSonraki:disabled {
        color: lightgray;
        cursor: context-menu;
    }

.FiltreOrderMeSpan {
    color: #0275d8;
    cursor:pointer;
}

.kursSatir{
    cursor:pointer;
}